<div class="container">
  <div class="row">
    <div class="col-12">
      <span class="text-secondary">Create date :</span>
      <span>${DBFORMAT|messages.message.create_time|message.create_time}</span>
    </div>
    <div class="col-12">
      <span class="text-secondary">Transport :</span>
      <span>${message.transport}</span>
    </div>
    <div class="col-12">
      <span class="text-secondary">Status :</span>
      <span>${message.status}</span>
    </div>
    <div class="col-12">
      <span class="text-secondary">To :</span>
      <span>${message.parameters.to}</span>
    </div>
    <div class="col-12">
      <span class="text-secondary">From :</span>
      <span>${message.parameters.from}</span>
    </div>
    <div class="col-12">
      <span class="text-secondary">Text :</span>
      <span>${message.parameters.text}</span>
    </div>
    <div class="col-12">
      <span class="text-secondary">Error :</span>
      <span>${message.error}</span>
    </div>
    <div class="col-12">
      <span class="text-secondary">Sent date :</span>
      <span>${DBFORMAT|messages.message.sent_time|message.sent_time}</span>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-lg-6 col-xxl-4"></div>
        <div class="col-12 col-lg-6 col-xxl-4"></div>
        <div class="col-12 col-lg-6 col-xxl-4"></div>
      </div>
      <ul class="list-group">
        <li id="ilfp4" z-bind="log of logs" class="list-group-item">
          <div id="ix4mz" class="d-flex">
            <div id="i2bex">
              ${DBFORMAT|messages.message_log.create_time|log.create_time}
            </div>
            <div id="iblk9" class="ms-auto">
                <span
                            z-class="text-bg-${log.type=='error'?'danger':(log.type=='sent'?'success':'secondary')}"
                            class="badge"
                          >
                ${log.type}</span></div>
          </div>
          <div>${log.message}</div>
          <div>${DBFORMAT|messages.message_log.data|log.data}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
