h4 img {
  width: 30px;
}
.sidebar-container {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  display: flex;
}
.sidebar {
  width: 252px;
  background-color: rgb(241, 241, 241);
  height: 100%;
  transition-behavior: normal;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: transform;
  position: relative;
}
.sidebar.closed {
  transform: translateX(-200px);
}
.toggle-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20px;
  height: 30px;
  background-color: rgb(92, 92, 93);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) -1px 2px 2px;
  font-size: 15px;
}
.sidebar-content {
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  height: calc(100% + 0px);
  overflow-y: auto;
}
.main-content {
  margin-left: 250px;
  transition-behavior: normal;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: margin-left;
}
z-sub-view {
  min-height: 200px;
}
.main-content.sidebar-closed {
  margin-left: 50px;
}
.collapsed .bi-chevron-down {
  transform: rotate(-90deg);
}
li {
  list-style-type: none;
}
li.file {
  cursor: pointer;
}
ul {
  padding-left: 0px;
}
.file svg {
  width: 20px;
}
.trigger-event svg {
  width: 10px;
}
.file .dropdown .btn,
.directory .dropdown .btn {
  opacity: 0.3;
  transition-behavior: normal;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: opacity;
  width: 26px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.table-name {
  font-size: 0.8em;
  line-height: 20px;
}
.table-code {
  opacity: 0.6;
  font-size: 0.6em;
  line-height: 8px;
}
.item-active {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgba(255, 255, 255, 0.25);
}
.item-menu {
  margin-top: 2px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 1rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
